table, th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(204, 200, 197);
}

table {
    border-collapse: collapse;
    margin: auto;
}

#lab {
    background-color: rgb(101, 138, 113);
}